.contained {
    margin-inline: auto;
    max-width: var(--width-wide);
    width: 100%;
}

.ordinal-nums {
    font-variant-numeric: ordinal;
}

.visuallyHidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
