.contained {
    margin-inline: auto;
    max-width: calc(var(--width-wide) + var(--padding-inline) * 2);
    padding-inline: var(--padding-inline);
    width: 100%;
}

.small-caps {
    font-variant-caps: all-small-caps;
}

.ordinal-nums {
    font-variant-position: super;
}

.visuallyHidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
